@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

@import "tailwindcss";



.green-silver-glow {
  color: #00ff55; /* Neon Green */
  text-shadow: 
    0 0 8px #c8c8c8,
    0 0 12px #e0e0e0,
    0 0 18px #ffffff,
    0 0 30px #bfbfbf;
}

.light-sweep {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.light-sweep::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: sweep 2.2s infinite;
}

@keyframes sweep {
  0% { left: -100%; }
  60% { left: 120%; }
  100% { left: 120%; }
}
